# plugin configuration file for IMCF Action Bars

Plugins>IMCF Utilities, "-", "-"
Plugins>IMCF Utilities, "IMCF Default Toolbar", Action_Bar("jar:file:IMCF/imcf_actionbars.jar!/bars/IMCF_toolbar.ijm")
Plugins>IMCF Utilities, "Segmentation Toolbar", Action_Bar("jar:file:IMCF/imcf_actionbars.jar!/bars/segmentation_tools.ijm")
Plugins>IMCF Utilities, "Interactive ROI Toolbar", Action_Bar("jar:file:IMCF/imcf_actionbars.jar!/bars/Interactive_ROI_Toolbar.ijm")
Plugins>IMCF Utilities, "-", "-"
