Plugins>IMCF Utilities, "IMCF Default Toolbar", Action_Bar("jar:file:IMCF_toolbar.jar!/IMCF_toolbar.ijm")
Plugins>IMCF Utilities, "Segmentation Toolbar", Action_Bar("jar:file:IMCF_toolbar.jar!/segmentation_tools.ijm")
Plugins>IMCF Utilities, "Boxed Heatmap", Boxed_Heatmap("")
Plugins>IMCF Utilities, "Generate Overview Movie", Overview_movie("")
Plugins>IMCF Utilities, "Save ALL open images", Save_all_images("")
Plugins>IMCF Utilities, "Stitch all files in a directory", Stitch_all_files_in_directory("")
Plugins>IMCF Utilities, "Measurements 2D 2CH", Measurements_2d_2ch("")

