# plugin configuration file for IMCF tools

Plugins>IMCF Utilities, "-", "-"
Plugins>IMCF Utilities, "Olympus FluoView OIF Stitcher", FluoView_OIF_Stitcher("")
Plugins>IMCF Utilities, "-", "-"
Plugins>IMCF Utilities, "Boxed Heatmap", Boxed_Heatmap("")
Plugins>IMCF Utilities, "Save ALL open images", Save_all_images("")
