# plugin configuration file for IMCF macros

Plugins>IMCF Utilities, "-", "-"
Plugins>IMCF Utilities, "Auto-Range Contrast + LUT's", AutoRange_Display("")
Plugins>IMCF Utilities, "-", "-"
Plugins>IMCF Utilities, "Stitch all LSM files in a directory", Stitch_directory_with_LSMs("")
Plugins>IMCF Utilities, "Generate Overview Movie", Overview_movie("")
Plugins>IMCF Utilities, "Masked Intensity Measurements (2D/2Ch)", Masked_Intensity_Measurements("")
Plugins>IMCF Utilities, "Segmentation 3ch ZVI", Segmentation_3ch_ZVI("")
